Data Structure Assignment

1. What are data structures, and why are they important?
    - data structures are the way in which organize the data
     in efficiently way and so that we can easily  access and modify it.

2. Explain the difference between mutable and immutable data types with examples
    - mutable-  means we can change the data after created it
    - immutable -means we can not change the data after created it
    - i.e list =[1,2,3,4]
    - list[0]=5 //it is mutable
    - a='pwskills'
    - a[0]='s' // it is immutable

3. What are the main differences between lists and tuples in Python
    - list is a mutable we can modify the data in list
    - tuple is a immutable we can not modify the data in tuple

4. Describe how dictionaries store data
    - dictionary stores the data in key value pair
    - there is no concept of indexing in dictionary
    - we use key to access the data in dict and it should be unique

5. Why might you use a set instead of a list in Python
    - set is a unique and do not allow duplicate values so that we use set instead of list

6. What is a string in Python, and how is it different from a list
    - string is a sequence of character enclosed between double and single quotes
    - string is a immutable
    - stores only character
    - list can store the hetrogenours element and enclosed in []
    - it is a mutabe

  
7. How do tuples ensure data integrity in Python
    - tuple can stores data in hetrogenours element
    - it is denoted by ()
    - it is a immutable
    - data integrity means once the tuple created we can not modify
    - i.e t=(1,2.3,'ajay' ,True,3+7i)
    - t[2] = 'rahul'    //error

8. What is a hash table, and how does it relate to dictionaries in Python
    - A hash table is a data structure that stores data in key–value pairs and allows fast access
    - It uses a hash function to convert a key into an index in an array.
    - At that index, the corresponding value is stored.
    - i.e d={
      name ='lovkush' }
      - d['name']

9. Can lists contain different data types in Python
    -  yes in list we can store different types of data

10. Explain why strings are immutable in Python
    - strign are immutable in python because we can not change their value after they created,it is ensure that safetey and consistency in program
    - i.e a='pwskills'
    - a[2]='q  //error

11. What advantages do dictionaries offer over lists for certain tasks
    - Use List → when order matters, and you just need a simple sequence.

    - Use Dict → when you need fast lookups, key–value mapping, or uniqueness of keys.

12. Describe a scenario where using a tuple would be preferable over a list

     - tuple is most preferable to used when we do not want to change the data but in list we can change the data

13. How do sets handle duplicate values in Python
    - set is a unordered and  unique collection of item  and do not allow duplicate value
    - Python computes its hash.
    - If the hash already exists in the set, Python ignores the new duplicate

14. How does the “in” keyword work differently for lists and dictionaries
    - list
    - Checks if a value exists in the list.
    - Works by scanning elements one by one
    - dict
    - Checks if a key exists, not the value.
    - Uses hashing

15. Can you modify the elements of a tuple? Explain why or why not
    - No because tuple is a immutable we can not change their value

16. What is a nested dictionary, and give an example of its use case
    - dictionary inside a dictionary
    - i.e nested_dict = {
    "student1": {"name": "Aman", "age": 20, "course": "Python"},
    "student2": {"name": "Ravi", "age": 22, "course": "Data Science"}}
    - use case:Used for storing structured, hierarchical data


17. Describe the time complexity of accessing elements in a dictionary
    - Python dictionaries are implemented using a hash table.
    - Keys are passed through a hash function → gives an index in memory where the value is stored.

18. In what situations are lists preferred over dictionaries
    - Lists
    - You need an ordered collection.
    - You only need values, not key–value mapping.
    - Duplicates are acceptable.
    - You need index-based access or slicing.
    - Dictionary
    - You need fast lookup by key.
    - You want key–value mapping
    - Keys must be unique and immutable.

19. Why are dictionaries considered unordered, and how does that affect data retrieval
    - dictionaries did not preserve the order in which items were inserted
    - Retrieval by key is always fast; order only matters when iterating or exporting items.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - list
    -  access elements using a numeric index
    - To find if a value exists, Python scans the list
    - dict
    - access elements using a key
    - To find a value, you need to use .values()

Practical question

1. Write a code to create a string with your name and print it

In [1]:
a='Shreya Rath'
print(a)

Shreya Rath

2. Write a code to find the length of the string "Hello World"

In [ ]:
s='Hello world'
len(s)

11

3.Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
a='python programming'
a[:3:]

'pyt'

4. Write a code to convert the string "hello" to uppercase

In [ ]:
a='hello'
a.title()

'Hello'

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
a='I like apple'
a.replace('apple','orange')

'I like orange'

6. Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
list=[]
for i in range(1,6):
  list.append(i)
print(list)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
l=[1,2,3,4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
l=[1,2,3,4,5]
l.remove(3)
l

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
l=['a','b','c','d']
l[1]
l

['a', 'b', 'c', 'd']

10.  Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
l=[10,20,30,40]
l[::-1]

[40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
t =(100,200,300)
print(t)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
t=('red','green','blue','yellow')
t[-2]

'blue'

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
t=(10,20,5,15)
min(t)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
t=('dog','cat','rabbit')
t.index('cat')

1

 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
t=('apple','mango','grapes','kiwi')
'kiwi' in t

True

 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
s={'a','b','c'}
print(s)

{'b', 'c', 'a'}

 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
s={1,2,3,4,5}
s.clear()

 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
s={1,2,3,4}
s.remove(4)
s

{1, 2, 3}

 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
s1={1,2,3}
s2={3,4,5}
s1 | s2

{1, 2, 3, 4, 5}

 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
s1={1,2,3}
s2={2,3,4}
s1 & s2

{2, 3}

 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
d={
    "name":"shreya",
    "age":24,
    "city":"gurgaon"
}
print(d)

{'name': 'lovkush', 'age': 24, 'city': 'jaunpur'}

 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
d={"name":'john','age':25}
d['country']='usa'
print(d)

{'name': 'john', 'age': 25, 'country': 'usa'}

 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
d={'name':'alice','age':30}
d['name']

'alice'

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
d={'name':'bob','age':22,'city':'new york'}
del d['age']
d

{'name': 'bob', 'city': 'new york'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
d={'name':'alice','city':'paris'}
"city" in d

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
l=[1,2,'ajay','rahul','2,3',True]
print(l)

t = (1,2,'ajay','rahul','2,3',True)
print(t)
d={'name':'sanjay','age':23}
print(d)

[1, 2, 'ajay', 'rahul', '2,3', True]
(1, 2, 'ajay', 'rahul', '2,3', True)
{'name': 'sanjay', 'age': 23}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:

import random
num = [random.randint(1,100) for i in range(5) ]
num.sort()
print(num)

[65, 65, 79, 88, 97]

28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
l=['ajay','rahul','sanjay','shivani','monika']
l[:3]

['ajay', 'rahul', 'sanjay']

29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
d1={'name':'lovkush'}
d2={'age':24}
d1.update(d2)
d1

{'name': 'lovkush', 'age': 24}

30. Write a code to convert a list of strings into a set.

In [ ]:
l=['ajay','rahul','sanjay','shivani','monika']
set(l)

{'ajay', 'monika', 'rahul', 'sanjay', 'shivani'}